@(article: Article, articleForm: Form[ArticleForm])(implicit request: MessagesRequestHeader)

@import com.github.plippe.play.form.form

<h1>Edit Article</h1>

@form(routes.ArticlesController.updateArticle(article.id)) {
  @helper.CSRF.formField

  @helper.inputText(articleForm(models.ArticleForm.TitleField))
  @helper.textarea(articleForm(models.ArticleForm.TextField))

  <input type="submit" />
}

@form(routes.ArticlesController.deleteArticle(article.id)) {
  @helper.CSRF.formField
  <input type="submit" value="Delete"/>
}

<a href="@routes.ArticlesController.showArticle(article.id)">Show</a>
<a href="@routes.ArticlesController.listArticles">Back</a>
